.cabecalho {

    background-color: var(--branco);
    transition: var(--transicao);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: relative;
}

.container {

    display: flex;
    flex-direction: row;
    align-items: center;

}

.container a {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.cabecalho__menu-icon {
    background-image: url(../imgs/Menu.svg);
    top: 4%;
    left: 2%;
    background-repeat: no-repeat;
    background-size: 2em;
    padding: 1em;
    cursor: pointer; 
    user-select: none;

    background-position: center;
    

}

.cabecalho__menu-icon__checkbox {
    display: none;
}

.lista-menu {
    display: none;
    
    position: absolute;
    top: 100%;
    width: 60vw;
    
}

.cabecalho__menu-icon__checkbox:checked ~ .lista-menu {
    display: block;
    z-index: 10;
}

.cabecalho__menu-icon__checkbox:checked ~ .cabecalho__menu-icon__label {
    background: var(--azul-gradiente);
    height: 65%;
    display: flex;
    align-items: center;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);

    transition: var(--transicao);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1rem;
}

.lista-menu__item__link {
    text-decoration: none;
    background: var(--azul-gradiente);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    text-transform: uppercase;
}

.container__imagem {
    padding: 0.8em;
}

.container__titulo-site {
    display: none;
}

.cabecalho__nav-tablet {
    display: none;
}

#dark-mode /*input*/ {
    display: none;
}

.cabecalho__dark-mode {
    
    top: 4%;
    left: 2%;
    background-image: var(--darkMode-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
    padding: 1em;
    cursor: pointer; 
    user-select: none;

}

/* TABLET */
@media screen and (min-width: 960px) {
    
    .cabecalho__menu-icon {
        display: none;
    }

    .container__titulo-site {
        display: block;
        font-family: var(--fonte-secundaria);
        font-size: 1.875rem;
        font-weight: 400;
        color: var(--preto);
    }

    .titulo-site__negrito {
        font-weight: 700;
    }

    .cabecalho__menu-icon__label {
        display: none;
    }

    .cabecalho__nav-tablet {
        display: flex;
        
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-weight: 400;
    }

    .cabecalho__nav-tablet a, .cabecalho__nav-tablet label{
        text-decoration: none;
        color: var(--preto);
        padding: 0 1em;
        user-select: none;

        cursor: pointer;

    }

    .container__imagem {
        padding: 0;
        margin: 1em 3em 1em 0;
    }

    .cabecalho__logo {
        margin: 0 1em 0 3em;
        padding: 1em;
    }

    .container__titulo-site {
        padding-top: 0.3em;
    }

    .cabecalho__imagem__favoritos {
        display: none;
    }

    #cabecalho__nav-tablet__categorias {
        display: none;
    }

    #cabecalho__nav-tablet__categorias:checked~.lista-menu {
        display: block;
        position: absolute;
        width: auto;
        top: 85%;

    }

    #cabecalho__nav-tablet__categorias:checked~.cabecalho__nav-tablet__categorias {
        background: var(--azul-gradiente);
        height: 70%;
        display: flex;
        align-items: center;
    }
}