.topicos__divisao {
    background-color: var(--branco);
    width: 100%;
    height: 1em;
}

.topicos {
    background: var(--azul-gradiente);
    font-family: var(--fonte-principal);
    text-align: center;
    width: 100%;
}

.topicos__titulo {
    color: var(--branco-imutavel);
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1em 0 1.5em 0;
}

.topicos__lista {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 1em;
}

.topicos__lista__item {
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;
}

.topicos__lista__item a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--branco-imutavel);
}

@media screen and (min-width: 983px) {

    .topicos__divisao {
        display: none;
    }

    .topicos__titulo {
        font-size: 1.5rem;
        padding-top: 1.5em;
    }

    .topicos__lista {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    .topicos__lista__item {
        padding: 2em;
    }

    .topicos__lista__item a {
        font-size: 1.5rem;
    }

}